.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
.vscode/
*.pyc

sample_network/shapefiles/

*.ipynb

sample_network/FCPS_shapefile/

sample_network/DC_shapefile/

sim_output/output\.pickle

random_seed/random_numbers

random_seed/random_numbers\.txt
